[submodule "rocket-chip-dev"]
	path = rocket-chip-dev
	url = git@github.com:PeterDing372/rocket-chip-dev.git
[submodule "riscv-boom"]
	path = riscv-boom
	url = git@github.com:riscv-boom/riscv-boom.git
